body {
    margin: 0;
    text-align: center;
    
    font-family: 'Crimson Text', serif;
}

h1 {
    font-family: 'Dancing Script', cursive;
    margin: 75px auto 0 auto;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 2.5rem;
    margin: 30px auto 100px auto;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Cabin', sans-serif;
}

hr {
    color: lightgray;
    border: none;
    border-top: dotted;
    border-width: 7px;
    width: 4%;
    margin: 5% auto 5% auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    color: #40514E;
    line-height: 2;
}

.headshot {
    border-radius: 50%;
    width: 300px;
}

.hello {
    margin: auto auto 45px auto;
}

.intro-about-me {
    margin: auto;
    width: 25%;
    
}
.mern-stack {
    width: 35%;
    float: left;
    margin-right: 30px;
}

.guitar-player {
    width: 35%;
    float: right;
}

.attribute {
    font-size: 10px;
    text-decoration: none;
}

.top {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

.middle {
    margin: 100px 0;
}

.skills {
    margin-bottom: 15%;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.contact-heading {
    margin-bottom: 40px;
}

.contact-subheading {
    margin-bottom: 2%;
}

.reach-out {
    margin: auto auto 40px auto;
    width: 20%;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 35px;
}

.contact-me {
    margin-bottom: 55px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.footer-link {
    color: #11999E;
    font-family: 'Cabin', sans-serif;
    margin: auto 5px;
}

.github-icon {
    width: 25px;
    color:#11999E;
    vertical-align: middle;
    margin-bottom: 7px;
}

.linkedin-icon {
    width: 25px;
    color:#11999E;
    vertical-align: middle;
    margin-bottom: 7px;
}

.copyright {
    color: #EAF6F6;
}