body {
    margin: 0;
    text-align: center;
    font-family: 'Crimson Text', serif;
}

h1 {
    font-family: 'Dancing Script', cursive;
    margin: 75px auto 0 auto;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 2.5rem;
    margin: 30px auto 100px auto;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Cabin', sans-serif;
}

.headshot {
    border-radius: 50%;
    width: 300px;
}

.mern-stack {
    width: 25%
}

.guitar-player {
    width: 10%;
}

.attribute {
    font-size: 10px;
    text-decoration: none;
}

.top {
    background-color: #E0D8B0;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.middle {
}

.bottom {

}